@font-face {
    font-family: 'Miso';
    src: url('fonts/Miso-Light.woff2') format('woff2'),
        url('fonts/Miso-Light.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Miso';
    src: url('fonts/Miso-Bold.woff2') format('woff2'),
        url('fonts/Miso-Bold.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Miso';
    src: url('fonts/Miso.woff2') format('woff2'),
        url('fonts/Miso.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

.c-font-family-miso {
    font-family: "Miso", Times, serif;
}